{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - heading_label: The name of referenced Service landing page.
 * - items: A nested list of menu items. Each menu item contains:
 *   - label: The menu link title/label.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - is_active: TRUE if the link is in the active trail.
 */
#}

<div {{ attributes.addClass('disclosure-nav') }}>
  {% set menu_id = heading_label|clean_class %}
  <button class="disclosure-nav__toggle" aria-expanded="false" aria-controls="{{ menu_id }}">
    {{ heading_label }}
  </button>
  <div class="disclosure-nav__menu" id="{{ menu_id }}">
    <button class="disclosure-nav__back-button" id="{{ menu_id }}-back-button">
      Back
    </button>
    <h2 class="disclosure-nav__menu-heading">{{ heading_label }}</h2>
    <ul class="disclosure-nav__menu-list">
      {% for item in items %}
        {{ attributes.removeAttribute('class') }}
        {%
          set classes = [
          'disclosure-nav__menu-item',
          item.is_active ? 'disclosure-nav__menu-item--active-trail',
        ]
        %}
        {%
          set link_classes = [
          'disclosure-nav__menu-item--link',
          item.is_active ? 'disclosure-nav__menu-item--link_active',
        ]
        %}
        <li {{ attributes.addClass(classes) }}>
          {{ link(item.label, item.url, { 'class': link_classes }) }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{{ attach_library('disclosure_nav/disclosure') }}
